.card-title{
    font-size: 20px;
    padding: 0px;
    color: blue;
}

.card-text{
    padding: 0px;
    font-size: 15px;
}

.card-footer{
    padding: 0px;
    display: flex;
    font-size: 15px;
    margin-left: 'auto';
    margin-right: 'auto' ;
}

.text-link{
    padding-left: 2px;
    padding-right: 2px;
    color: blue;
}